html {
	overflow: initial;
}

header {
	top : 0;
	text-align: center;
	height : 90px;
	width : 100%;
	color : black;
	border-bottom : solid 3px black;
	background-color : white;
	z-index : 10;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.navbar-inner {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

h1 {
	font-size: 50px;
	line-height: 75px;
	height : 75px;
	margin : 0;
}

#homeBtn {
	width : 65px;
	height : 30px;
	line-height : 30px;
	margin-right : auto;
	margin-left : auto;
	border-radius : 20px;
	background-color : black;
}

#homeBtn a {
	color : white;
}

#main {
	width : 100%;
	padding-bottom : 25px;
}

.centered {
	width : 600px;
	margin-right : auto;
	margin-left : auto;
	text-align: center;
}

#msgBlock {
	height : 70px;
	padding-top : 20px;
}

#listBlock {
	position: relative;
}

#message {
	display: none;
}

#listName {
	width : 538px;
	font-size: 30px;
	height: 36px;
	border-radius : 4px 0px 0px 4px;
	border-color: black;
	border-style: dashed;
	border-width: 3px;
	border-right-width: 0;
	float : left;
	line-height: 36px;
	text-align: center;
}

#listName:focus {
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.6);
  	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.6);
 	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.6);
}

input:focus {
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.6);
  	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.6);
 	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.6);
 	border-color: rgba(0, 0, 0, 0.6);
}

#listName:focus + .plus {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(0, 0, 0, 0.6);
}

.plus:focus {
	border-color: black;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(0, 0, 0, 0.6);
}

input[type="submit"].plus {
	height: 50px;
	width: 50px;
	border-color: black;
    border-style: dashed;
    border-width: 3px;
    line-height: 0;
    text-align: center;
    font-size: large;
    border-radius : 0 4px 4px 0;
    position: relative;
    float : left;
}

.btn {
	background-color: black;
	background-image: -moz-linear-gradient(top, #666666, #000);
	background-image: -ms-linear-gradient(top, #666666, #000);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666666), to(#000));
	background-image: -webkit-linear-gradient(top, #666666, #000);
	background-image: -o-linear-gradient(top, #666666, #000);
	background-image: linear-gradient(top, #666666, #000);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000', GradientType=0);
	border-color: #000 #000 #002a80; /* last color...? */
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	color : white;
}

.btn:hover {
	color:white;
	background-color: #000;
}

#items {
	list-style: none;
	margin : 0;
	display: inline-block;
	padding-bottom : 30px 
}

#items li {
	font-size: 20px;
	border-bottom : #808080 solid 1px;
	padding : 5px 0;
	height: 30px;
	line-height: 30px;
}

nav.centered .container {
	width: 100%
}


/* login page */

article form {
	margin : 0;
}

fieldset, .hero-unit {
	margin: 0;
	padding: 20px;
}

.row {
	margin-left: 0;
}

#loginForm input {
	text-align: center;
}


/*manage screen size*/

@media (max-width:600px) {
	.centered {
		width: 300px;
	}
	
	#listName {
		width: 239px;
	}
	
	/* Menu*/
	
	.btn-navbar {
		display: inline;
	}
	
	.nav-collapse {
		display: none;
		float: left;
		width: 100%;
	}
	
	.nav-collapse ul.nav {
		width : 100%;
	}
	
	.nav-collapse ul.nav li {
		float: none;
	}
	
	.brand {
		float: none;
		text-align: left;
	}
	
	.dropdown-menu {
		position: relative;
		float: none;
		background: transparent;
	}
	
	.dropdown-menu a {
		color: #999;
	}
	
	.dropdown-menu li > a:hover {
		background: transparent;
	}
	
	.navbar .dropdown-menu::before {
		display: none;
	}
	
	.navbar .dropdown-menu::after {
		display: none;
	}
	
}